<!-- EXPERIENCE -->
<section id="experience" class="color-bg light-typo padding-top-bottom">
  <div class="container">
    <header class="section-header text-center">
      <h1 class="scrollimation scale-in">My Experience</h1>
      <p>In invite you to take a closer look at my qualifications.</p>
    </header>

    <div class="experience-container">
      <div class="ex-hightlight">
        <ul class="clearfix">
          <li class="yrs-ex outline-outward">
            <span class="numbers-rotate animated-number" data-value="8" data-animate-duration="1200"> 8 </span>
          </li>
          <li class="ex-inro">
            <div class="ex-details">
              <h2>Years Experience in the web development field</h2>
              <p>
                I have worked in several environments in the past, including the military, an agency, several
                startups, and small companies. My experience shows that I am a great addition to any team.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="job-list">
        <div class="job-list-item">
          <ul class="clearfix">
            <li>
              <div class="job-date">
                <span class="job-from-date">Dec 2015</span>
                <span>to</span>
                <span class="job-to-date">Present</span>
              </div>
            </li>
            <li>
              <div class="job-description">
                <div class="job-description-container">
                  <div class="job-brand">
                    <div class="job-brand-container">
                      <img
                        src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/resume/logos/color/chromeriver_logo2.jpg"
                        alt="brand-logo"
                      />
                    </div>
                  </div>
                  <div class="job-details">
                    <div class="job-ribbon">
                      <span> <i class="fa fa-star"></i> Current Job </span>
                    </div>
                    <div class="job-details-container">
                      <h3 class="job-identy-title">
                        Chrome River Technologies
                        <span>Software Engineer</span>
                      </h3>
                      <ul>
                        <li>
                          Interface via AJAX with REST API endpoints to architect front-end of financial web
                          application
                        </li>
                        <li>Develop modular views using functional JavaScript within an agile work environment</li>
                        <li>
                          Strategize with Product Managers & Back-end engineers to solve complex bugs & stories
                        </li>
                        <li>Heavy daily debugging in large-scale Backbone.js app using Chrome Developer Tools</li>
                        <li>Communicate and collaborate with UI designers to create pixel perfect templates</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="job-list-item">
          <ul class="clearfix">
            <li>
              <div class="job-date">
                <span class="job-from-date">Nov 2014</span>
                <span>to</span>
                <span class="job-to-date">Jan 2017</span>
              </div>
            </li>
            <li>
              <div class="job-description">
                <div class="job-description-container">
                  <div class="job-brand">
                    <div class="job-brand-container">
                      <img
                        src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/resume/logos/color/mhw_logo.jpg"
                        alt="brand-logo"
                      />
                    </div>
                  </div>
                  <div class="job-details">
                    <div class="job-details-container">
                      <h3 class="job-identy-title">My Hotel Wedding <span>Lead Developer</span></h3>
                      <ul>
                        <li>
                          Maintained WordPress-ran site and add incremental features at the request of the founder
                        </li>
                        <li>
                          Created a custom analytics system to track user actions and generate reports for
                          administrators
                        </li>
                        <li>Converted the majority of the site to be run on the Laravel PHP MVC framework</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="job-list-item">
          <ul class="clearfix">
            <li>
              <div class="job-date">
                <span class="job-from-date">Dec 2011</span>
                <span>to</span>
                <span class="job-to-date">Dec 2015</span>
              </div>
            </li>
            <li>
              <div class="job-description">
                <div class="job-description-container">
                  <div class="job-brand">
                    <div class="job-brand-container">
                      <img
                        src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/resume/logos/color/crl_logo.jpg"
                        alt="brand-logo"
                      />
                    </div>
                  </div>
                  <div class="job-details">
                    <div class="job-details-container">
                      <h3 class="job-identy-title">
                        College Rental Listings
                        <span>Co-Founder & Chief Technical Officer</span>
                      </h3>
                      <ul>
                        <li>
                          Founded a startup that gives property owners a service to advertise homes for rent to
                          college students.
                        </li>
                        <li>
                          Integral from the first stages until present, overseeing all technical aspects of the
                          site's production.
                        </li>
                        <li>Built entire site using HTML, CSS, JavaScript, and PHP.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="job-list-item">
          <ul class="clearfix">
            <li>
              <div class="job-date">
                <span class="job-from-date">Mar 2015</span>
                <span>to</span>
                <span class="job-to-date">Oct 2015</span>
              </div>
            </li>
            <li>
              <div class="job-description">
                <div class="job-description-container">
                  <div class="job-brand">
                    <div class="job-brand-container">
                      <img
                        src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/resume/logos/color/automd_logo.jpg"
                        alt="brand-logo"
                      />
                    </div>
                  </div>
                  <div class="job-details">
                    <div class="job-details-container">
                      <h3 class="job-identy-title">AutoMD <span>Front-End Web Developer</span></h3>
                      <ul>
                        <li>
                          Converted existing, outdated pages into new designs employing mobile responsive strategies
                        </li>
                        <li>Managed work responsibilities while communicating with startup team when necessary</li>
                        <li>
                          Heavy usage of technologies such as CSS3, jQuery, PHP, and the Smarty templating engine
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="job-list-item">
          <ul class="clearfix">
            <li>
              <div class="job-date">
                <span class="job-from-date">Nov 2010</span>
                <span>to</span>
                <span class="job-to-date">Oct 2014</span>
              </div>
            </li>
            <li>
              <div class="job-description">
                <div class="job-description-container">
                  <div class="job-brand">
                    <div class="job-brand-container">
                      <img
                        src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/resume/logos/color/tp_logo.jpg"
                        alt="brand-logo"
                      />
                    </div>
                  </div>
                  <div class="job-details">
                    <div class="job-details-container">
                      <h3 class="job-identy-title">Trailer Park Inc. <span>Web Developer</span></h3>
                      <ul>
                        <li>
                          Used HTML, CSS, and JavaScript to create interactive websites for large entertainment
                          brands
                        </li>
                        <li>Created mobile responsive and HTML5 compliant sites</li>
                        <li>Worked seamlessly in a large digital department and in teams of up to 8 people</li>
                        <li>Worked with WordPress, jQuery, and PHP MVC frameworks to create large scale sites</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="job-list-item">
          <ul class="clearfix">
            <li>
              <div class="job-date">
                <span class="job-from-date">Mar 2010</span>
                <span>to</span>
                <span class="job-to-date">Nov 2012</span>
              </div>
            </li>
            <li>
              <div class="job-description">
                <div class="job-description-container">
                  <div class="job-brand">
                    <div class="job-brand-container">
                      <img
                        src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/resume/logos/color/pro_print_logo.jpg"
                        alt="brand-logo"
                      />
                    </div>
                  </div>
                  <div class="job-details">
                    <div class="job-details-container">
                      <h3 class="job-identy-title">
                        Pro Print & Services
                        <span>Front and Back-end Web Developer</span>
                      </h3>
                      <ul>
                        <li>
                          Designed and developed an ordering and tracking system utilizing HTML, CSS, jQuery and PHP
                        </li>
                        <li>
                          Reduced company costs by automating printing operations via an ordering and tracking
                          systems
                        </li>
                        <li>
                          Developed site architecture and functionalities appropriate to clients' needs and
                          requirements
                        </li>
                        <li>Communicated project progress and challenges with manager on a weekly basis</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="job-list-item">
          <ul class="clearfix">
            <li>
              <div class="job-date">
                <span class="job-from-date">Jul 2002</span>
                <span>to</span>
                <span class="job-to-date">Jul 2010</span>
              </div>
            </li>
            <li>
              <div class="job-description">
                <div class="job-description-container">
                  <div class="job-brand">
                    <div class="job-brand-container">
                      <img
                        src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/resume/logos/color/army_logo.jpg"
                        alt="brand-logo"
                      />
                    </div>
                  </div>
                  <div class="job-details">
                    <div class="job-details-container">
                      <h3 class="job-identy-title">
                        United States Army Reserve
                        <span>Team Leader - Sergeant</span>
                      </h3>
                      <ul>
                        <li>Lead and managed 2-12 soldiers in combat and home unit environments</li>
                        <li>
                          Supervised and delegated lower enlisted soldiers in order to complete platoon missions
                        </li>
                        <li>Conducted and oversaw patrols, convoy operations, and traffic control points</li>
                        <li>Operation Iraqi Freedom, March 2003 - July 2004</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <span class="timeline-stroke">
        <span class="storke-finish"></span>
      </span>
    </div>
  </div>
</section>