<!-- FEATURED PROJECT -->
<section id="feat-project" class="gray-bg padding-top">
  <div class="container">
    <header class="section-header text-center">
      <h1 class="scrollimation scale-in">Featured Project</h1>
      <p>
        Custom Analytics Platform
        <br />
        A custom-built tracking solution for My Hotel Wedding
      </p>
    </header>

    <div class="scrollimation fade-up">
      <img
        class="img-responsive img-center"
        src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/chrome-top.png"
        alt=""
      />

      <div class="img-wrapper">
        <img
          class="img-responsive img-center"
          src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/projects/myhotelwedding-analytics/800x500/1.jpg"
          alt=""
        />

        <p class="text-center on-hover">
          <a id="feat-more-info-btn" class="btn btn-pill icon-right" href="#myhotelwedding-analytics">
            See Project<i class="fa fa-arrow-right"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>