<!-- CONTACT -->
<section id="contact" class="dark-bg light-typo padding-top">
  <div class="container">
    <header class="section-header text-center">
      <h1 class="scrollimation scale-in">Get in Touch</h1>
      <p>
        Please send me a message.
        <br />
        I look forward to hearing from you.
      </p>
    </header>

    <p class="text-center">
      <a href="mailto:contact@chrisseckler.com" class="btn btn-pill icon-left send-message">
        <i class="fa fa-paper-plane"></i>Send Message
      </a>
    </p>
  </div>
</section>