<!-- HEADER -->
<header id="home" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-col">
        <h1>Hi, I am Chris Seckler</h1>
        <p>a front-end developer with back-end skills</p>
      </div>

      <div class="col-sm-6">
        <div class="imac-frame">
          <img
            class="img-responsive img-center"
            src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/imac.png"
            alt=""
          />
          <div class="imac-screen flexslider">
            <ul class="slides">
              <li>
                <img
                  src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/projects/myhotelwedding-analytics/450x270/1.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/projects/crl/450x270/1.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/projects/fox_portal/450x270/1.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/projects/300_movie/450x270/1.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/projects/automd/450x270/1.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/projects/myhotelwedding/450x270/1.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/projects/amatorders/450x270/1.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/projects/major_crimes/450x270/1.jpg"
                  alt=""
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>