<!-- SKILLS -->
<section id="skills" class="white-bg">
  <div class="container">
    <div class="row skills">
      <h1 class="text-center scrollimation fade-in">I Got the Skills</h1>

      <div class="col-sm-6 col-md-3 text-center">
        <span class="chart" data-percent="80">
          <span class="percent">90</span>
        </span>
        <h2 class="text-center">HTML / CSS</h2>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <span class="chart" data-percent="70">
          <span class="percent">70</span>
        </span>
        <h2 class="text-center">JavaScript / jQuery</h2>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <span class="chart" data-percent="70">
          <span class="percent">70</span>
        </span>
        <h2 class="text-center">PHP / MySQL</h2>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <span class="chart" data-percent="110">
          <span class="percent">110</span>
        </span>
        <h2 class="text-center">Enthusiasm / Determination</h2>
      </div>
    </div>
  </div>
</section>