<!-- PORTFOLIO -->
<section id="portfolio" class="gray-bg padding-top-bottom">
  <div class="container">
    <header class="section-header text-center">
      <h1 class="scrollimation scale-in">My Projects</h1>
      <p>
        Please check out my past creations below.
        <br />
        I hate to use the word "work", because developing for the web is just that much fun for me.
      </p>
    </header>

    <div id="filter-works">
      <ul>
        <li class="active scrollimation fade-right d1">
          <a href="#" data-filter="*"> All </a>
        </li>

        {% for category in projectCategories %}
          <li class="scrollimation">
            <a href="#" data-filter=".filter-{{ category.filterLabel }}"> {{ category.title }} </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container masonry-wrapper scrollimation fade-in">
    <div id="projects-container">

      {% for project in projects %}
        <!-- SINGLE PROJECT ITEM -->
        <article
          class="project-item {% for category in project.categories %} filter-{{ category.filterLabel }}{% endfor %}"
          data-project="{{ project.slug }}"
        >
          <img
            class="img-responsive project-image"
            src="{{ project.thumbnail }}"
            alt=""
          />

          <div class="hover-mask">
            <h2 class="project-title">{{ project.title }}</h2>
            <p>{{ project.client }}</p>
          </div>

          <!-- Project Preview HTML -->

          <div
            class="sr-only project-description"
            data-category="{% for category in project.categories %}{{ category.title }}, {% endfor %}"
            data-date="{{ project.date }}"
            data-client="{{ project.client }}"
            data-role="{{ project.role }}"
            data-images="{{ project.images | join(", ") }}"
          >
            {% for contentItem in project.content %}
              <p>{{ contentItem }}</p>
            {% endfor %}
          </div>
        </article>
        <!-- END PROJECT ITEM -->
      {% endfor %}
    </div>
  </div>

  <!-- PROJECT PREVIEW MODAL (Do not alter this markup) -->
  <div id="project-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="container">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            <h1 id="hdr-title" class="text-center"></h1>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="image-wrapper">
                  <img
                    class="img-responsive"
                    src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/chrome.png"
                    alt=""
                  />
                  <div class="loader"></div>
                  <div class="screen"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div id="project-sidebar" class="col-md-3">
                <h2 id="sdbr-title"></h2>
                <p id="sdbr-category"></p>
                <p id="sdbr-date"></p>
                <p id="sdbr-client"></p>
                <p id="sdbr-role"></p>
                <p id="sdbr-link">
                  <a href="#link" target="_blank" class="dont-break-out"></a>
                </p>
                <p id="sdbr-descr"></p>
              </div>
              <div id="project-content" class="col-md-8 col-md-offset-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>