<!-- ABOUT -->
<section id="about" class="dark-bg light-typo padding-top-bottom">
  <div class="container">
    <header class="section-header text-center">
      <h1 class="scrollimation scale-in">Who Am I?</h1>
    </header>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row scrollimation fade-in">
          <img
            class="img-responsive img-center img-circle scrollimation fade-left"
            src="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/about.jpg"
            alt=""
          />

          <div class="col-sm-6">
            <p>
              <span class="about-header">This is who I am:</span>
              My name is Chris Seckler.
            </p>
            <p>
              I'm a graduate from the Art Institute of California - Orange County with a Bachelor's of Science in
              Web Design and Interactive Media.
            </p>
            <p>I was raised bilingually, reading and writing English and German.</p>
            <p>I have traveled extensively to many parts of the world and enjoy interacting with others.</p>
          </div>

          <div class="col-sm-6">
            <p>
              <span id="about-header-right" class="about-header"> This is what you should know: </span>
              Coding is always on my mind.
            </p>
            <p>
              I'm a passionate developer, with 6 years of experience, who truly enjoys working with web technologies
              and creating helpful tools for companies online.
            </p>
            <p>
              On the business side, I put emphasis on excellence and approach every project with the utmost
              professionalism.
            </p>
            <p>On the personal side I am lighthearted, energetic and positive, and enjoy every day of my life!</p>
          </div>
        </div>
      </div>
    </div>

    <div id="links-mention">
      <span>Check out my favorite resources and websites <a href="/links">here</a>.</span>
    </div>

    <p class="text-center">
      <a class="btn btn-pill scrollto white icon-left" href="#contact">
        <i class="fa fa-arrow-down"></i>Get in Touch
      </a>
    </p>
  </div>
</section>