<!-- WHY CHOOSE ME -->
<section id="services" class="white-bg padding-top-bottom">
  <div class="container">
    <header class="section-header text-center">
      <h1 class="scrollimation scale-in">Why choose me?</h1>
      <p>
        I am a detail-oriented individual who loves to create a quality product. <br />
        Web development is a welcomed challenge that I look forward to every day.
      </p>
    </header>

    <div class="row services">
      {% for skill in skills %}
        <div class="col-md-3 col-sm-6 item scrollimation fade-up {% if loop.index0 > 0 %}d{{ loop.index0 }}{% endif %}">
          <div class="icon">
            <img
              class="img-responsive img-center"
              src="{{ skill.imageUrl }}"
              alt=""
            />
          </div>

          <h2>{{ skill.title }}</h2>
          <p>{{ skill.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
