<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
    <meta charset="utf-8" />
    <title>Portfolio of Chris Seckler{% if pageName %} | {{ pageName }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- ==============================================
		Favicons
		=============================================== -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/favicons/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/favicons/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/favicons/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/favicons/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/favicons/apple-touch-icon-114x114.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/favicons/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/favicons/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/favicons/favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="manifest"
      href="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/favicons/manifest.json"
    />
    <link
      rel="shortcut icon"
      href="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/favicons/favicon.ico"
    />
    <meta name="apple-mobile-web-app-title" content="Chris Seckler Portfolio" />
    <meta name="application-name" content="Chris Seckler Portfolio" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta
      name="msapplication-config"
      content="https://s3-us-west-1.amazonaws.com/chris-seckler-portfolio-site/assets/images/favicons/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- ==============================================
		CSS
		=============================================== -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- ==============================================
		Fonts
		=============================================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,200,400italic,600,600italic"
      rel="stylesheet"
      type="text/css"
    />

    <!-- ==============================================
		JS
		=============================================== -->

    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="js/libs/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.2.3/nunjucks.min.js"></script>
  </head>

  <body data-spy="scroll" data-target="#main-nav" data-offset="400">
    <!-- MAIN NAV -->
    <div id="main-nav" class="navbar navbar-fixed-top {% if pageName === 'Links' %}links-page-nav{% endif %}">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- LOGO (for small screens) -->
          <a class="navbar-brand visible-xs scrollto" href="/"> Chris Seckler </a>
        </div>

        <div id="site-nav" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="logo">
              <a href="{% if pageName === 'Links' %}/{% else %}#home{% endif %}" 
                class="{% if pageName !== 'Links' %}scrollto{% endif %}">
                  <h1>Chris Seckler</h1>
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            {% for link in navBarLinks %}
            <li>
              <a href="{{ link.href }}" class="{% if link.isScrollLink !== false %} scrollto {% endif %}"> {{ link.title }} </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <main>
      {% block content %}
        <div class="error-message-container">
          Oops, there should be content here. <i>This is embarrassing.</i>
        </div>  
      {% endblock %}
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="js/libs/jquery-1.9.1.min.js">\x3C/script>');
    </script>

    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.min.js"></script>
    <script src="js/jquery.scrollto.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/jquery.flexslider.min.js"></script>
    <script src="js/jquery.masonry.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.label_better.min.js"></script>
    <script src="js/jquery.easypiechart.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/scripts.js"></script>

    <!-- Smooth Scrolling Script -->
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.links-section .link-image').forEach((img) => {
          img.addEventListener('touchstart', () => {
            console.log('touchstart');
            img.classList.add('colorful');
          });

          img.addEventListener('touchmove', () => {
            console.log('touchmove');
            img.classList.add('colorful');
          });
        });
      });

      $(document).ready(function () {
        $('a.scrollto').on('click', function (e) {
          e.preventDefault();
          var target = this.hash;
          $('html, body').animate(
            {
              scrollTop: $(target).offset().top,
            },
            800,
          );
        });
      });
    </script>
  </body>
</html>
