{% extends "layouts/page.njk" %}

{% block content %}
  {% include "partials/hero.njk" %}
  {% include "partials/why-choose-me.njk" %}
  {% include "partials/featured-project.njk" %}
  {% include "partials/who-am-i.njk" %}
  {% include "partials/i-got-the-skills.njk" %}
  {% include "partials/my-projects.njk" %}
  {% include "partials/experience.njk" %}
  {% include "partials/get-in-touch.njk" %}
{% endblock %}