{% extends "layouts/page.njk" %}

{% block content %}
  <style>
    body {
      background-color: #f9f9f9;
    }
  </style>

  <!-- LINKS SECTION -->
  <section id="favorite-links" class="links-section">
    <header class="section-header">
      <h1>My Favorite Links</h1>
      <p>Here are some of my favorite resources and websites.</p>
    </header>

    <div class="links">
      {% for link in myLinks %}
        <a href="{{ link.url }}" target="_blank">
          <div class="link-item">
            <img src="{{ link.imgSrc }}" alt="{{ link.imageAlt }}" class="link-image" />
            <div class="link-text">
              <h2 class="link-title">{{ link.title }}</h2>
              <p class="link-description">{{ link.description }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}